@import url('https://fonts.googleapis.com/css?family=Fira+Code|Fira+Sans:400,700&display=swap');

:root {
	--black-100: #070E20;
	--green-100: #29F392;
	--green-10: #DFFFF0;
	--grey-100: #849D91;

	--font-main: 'Fira Sans', Arial, sans-serif;
}

body {
	font-family: var(--font-main);
	font-weight: 400;
	font-size: 16px;
}